* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  
  button {
    border: none;
    cursor: pointer;
  }
  img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

body {
  background-color: #151515;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 80px;
  width: 100vw;
}

.pages {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#page1 {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.pages.active {
  display: block;
  animation: fadeIn 0.3s ease forwards;
}